* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    *:focus {
        outline: none;
    }

body {
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.burger-menu {
    width: 50%;
    margin: 40px;
    display: none;
}

ul li {
    list-style-type: none;
    margin: 30px 30px 30px 0px;
    font-size: 24px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

    ul li:first-child a {
        width: 47%;
    }

    ul li:hover {
        background: #13141C;
        border-radius: 20px;
        width: 100%;
    }

    ul li img {
        margin-right: 20px;
    }

button {
    background: #262837;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.leftBar {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1E202C;
    border-radius: 15px;
    height: 100%;
}

.leftBarLogo {
    width: 60%;
    margin: 40px;
    cursor: pointer;
}

.searchSection {
    display: flex;
    align-items: center;
    background: #262837;
    border-radius: 15px;
    width: 200px;
    height: 60px;
}

.searchInput {
    border-radius: 15px;
    border: none;
    height: 60px;
    color: white;
    text-align: center;
    background: #262837;
}

.watchList {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 60px;
}

.watchListButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
}

.rightBar {
    width: 80%;
    margin-left: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.profileInformation {
    display: flex;
    width: 180px;
    justify-content: space-around;
    align-items: center;
}

.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.HeaderFilmImage {
    padding: 20px 0px 20px 0px;
    width: 100%;
    cursor: pointer;
}

.newSeriesItem {
    width: 24%;
}

.newSeriesContent {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

.newSeriesItem .newSeriesItemImage {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
}

.newSeriesItemDescription {
    background: #101118;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

.newSeriesItemInformation {
    display: flex;
    justify-content: space-between;
}

.newSeriesItemWatchingInformation {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.newSeriesItemInformation button {
    width: 25%;
}




/* filmContent */

.filmItem {
    display: flex;
    font-size: 24px;
    margin: 20px;
}

    .filmItem img {
        cursor: pointer;
    }

.filmContentTitle {
    font-size: 36px;
}

.filmContent {
    margin-left: 60px;
}

.filmContentDescription {
    margin-top: 40px;
}

.filmContentDirector {
    margin: 20px 0px 20px 0px;
}

.filmContentGenre {
    margin: 20px 0px 20px 0px;
}



/* Footer */
footer {
    background-color: #333;
    color: #fff;
    background: #2A254B;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.footer-columns-wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
    font-family: 'ClashDisplay-Regular';
}

.footer-column {
    width: 25%;
    padding: 10px;
}

    .footer-column h3 {
        font-size: 16px;
        color: #fff;
        font-family: 'ClashDisplay-Regular';
    }

.footer-menu a,
.footer-categories a,
.footer-company a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    font-family: 'Satoshi-Regular';
    font-size: 14px;
    line-height: 18.9px;
}

.footer__icons img {
    background: transparent;
}

.footer-email {
    width: fit-content;
    float: left;
    display: flex; /* Use flexbox for better alignment */
}

.copyright {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.email-input {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
    display: block; /* Change input to block element */
    height: max-content;
    border: none;
    background: #4A4666;
    color: white;
    font-family: 'Satoshi-Regular';
}

.signup-button {
    width: 30%; /* Adjust the width as needed */
    padding: 8px;
    box-sizing: border-box;
    display: block; /* Change button to block element */
    height: max-content;
    background: white;
    font-family: 'Satoshi-Regular';
    border: none;
}

.border-line {
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;
}

.copyright {
    clear: both;
    text-align: center;
    padding-top: 10px;
}

.copyright-icons {
    font-size: 20px;
    margin: 0 5px;
}


/* MyTop.css !*/



@media (max-width: 1042px) {
    .filmItem {
        font-size: 18px;
    }

    .leftBar {
        background: transparent;
        width: 10%;
}

.leftBar ul {
    display: none;
}

.leftBarLogo {
    display: none;
}

.leftBarItems.active {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: #1E1E1E;
    z-index: 101 !important;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

ul li:first-child a {
    width: auto;
}

.burger-menu {
    display: block;
    position: fixed;
    width: 4%;
    z-index: 102 !important;
    &.active-burger

{
    &:before

{
    transform: rotate(45deg);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
    top: 8px;
}

&:after {
    background: rgb(0, 0, 0);
    transform: rotate(-45deg);
    bottom: 10px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
}

& span {
    transform: scale(0);
}

}

&:before, &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
}

&:before {
    top: 0;
}

&::after {
    bottom: 0;
}

span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: white;
    height: 2px;
    transform: scale(1);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;
}

}

.container {
    width: 100%;
}

}

@media (max-width: 894px) {

    .filmItem {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .filmItem {
        font-size: 18px;
    }

        .filmItem img {
            width: 100%;
            height: auto;
        }

    .filmContent {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 648px) {
    .burger-menu {
        width: 6%;
    }
}

@media (max-width: 448px) {
    .burger-menu {
        width: 6%;
        margin-left: 60px;
    }
}

.filmEditDeleteButtons {
    display: flex;
    align-items: baseline;
}

.filmContentEditBtn {
    background: #13141C;
    border-radius: 20px;
    margin: 40px 0px 20px 0px;
    width: 20%;
    height: 10%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

    .filmContentEditBtn:hover {
        background: #13141C;
        border-radius: 20px;
    }


.genre-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Расстояние между кружками */
}

.genre-button {
    background-color: #3498db; /* Цвет кружка */
    color: #fff; /* Цвет текста внутри кружка */
    border-radius: 50%; /* Делаем кружок */
    padding: 4px 8px; /* Задаем отступы внутри кружка */
}


.filmItemImage {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 300px;
}


/* Edit Section */

.EditConfirmBtn {
    background: green;
    width: 20%;
    height: 40px;
    margin: 30px;
}

.EditDeclineBtn {
    background: red;
    width: 20%;
    height: 40px;
    margin: 30px;
}


/* Buttons Delete & Edit */
.formButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 20px;
}

.filmContentDeleteBtn {
    width: 100%;
    height: 40%;
    background: #13141C;
    border-radius: 20px;
    margin: 40px 0px 20px 0px;
    height: 10%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}